* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nerko One', cursive;
  background-color: #ADD8E6;
  text-align: center;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

footer{
  font-size: 0.8em;
  line-height: 80px;
}

.title {
  font-size: 92px;
  color: #ffffff;
  text-shadow: 1px 1px 10px lightgray;
}

.copyright {
  font-size: 24px;
}

.container {
  width: 65%;
  max-width: 900px;
  margin: auto;
}

.card {
  display: inline-block;
  width: 20%;
  border-radius: 25px;
  margin: 1%;
  cursor: pointer;
  background-image: url("/assets/img/pattern.png");
  background-size: contain;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  position: relative;
  background-color: #ffffff;
}

.card img {
  width: 100%;
  padding: 20px 20px 40px;
  visibility: hidden;
}

.name-card {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 40px;
  color: fuchsia;
  width: 100%;
  display: none;
}

.card.active,
.card:hover {
  background-image: none;
}

.card.active img,
.card:hover img {
  visibility: visible;
}

.card.active .name-card,
.card:hover .name-card {
  display: block;
}

.card:hover .name-card {
  color:coral;
}