* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #add8e6;
  font-family: 'Nerko One', cursive;
}

.title {
  font-size: 81px;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 10px lightgray;
}

.copyright {
  text-align: center;
  font-size: 24px;
}

.container {
  width: 90%;
  margin: 30px auto;
}

.row {
  margin: 18px 0;
}

.card {
  display: inline-block;
  width: 350px;
  height: 350px;
  border-radius: 25px;
  margin: 0 12px;
  box-shadow: 2px 2px 10px lightgray;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
}

.covered {
  background-image: url("/assets/img/pattern.png");
  background-size: 350px;
  background-repeat: repeat;
  height: 100%;
}

.face-up {
  background-color: #ffffff;
}

.active {
  background-color: #ffffff;
  width: 350px;
  height: 100%;
}

img{
  width: 280px;
  padding: 20px;
}

/* .face-up:hover{
  display: block;
} */

.name-card {
  text-align: center;
  color: fuchsia;
  font-size: 36px;
  text-shadow: 1px 1px 2px #000000;
}